<div id="collapse-general" class="collapse nested-collapse show px-4 mt-4" data-parent=".tab-pane">

  <%= render partial: "persona_display_types/avg/#{@survey.persona_summary_display_type}" %>

</div>