
/*==============================================*/
.respond-send{
  padding: 2.5rem 6rem !important;
}
.icon-circle-error::before{
  color:#ffc200 !important;
}
.arrow-button-icon{
  float: right;
  margin-top: 15px;
  margin-left: 10px;
}
.deliver-time-input-box{
  width: 6rem;
}
.list-items__view--company a:link{

}
.creating-survey__respondents-message {
  max-width: unset;
}
.creating-survey__content-respondents {
  padding: unset !important;
}
/*==============================================*/