<p>
  <strong>Title:</strong>
  <%= @admin_label_template.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_label_template.description %>
</p>

<p>
  <strong>Account:</strong>
  <%= @admin_label_template.account %>
</p>