<h1>Editing Template</h1>

<%= render 'form', template_theme: @template_theme %>

<%= link_to 'Show', admin_template_theme_path(@template_theme) %> |
<%= link_to 'Back', admin_template_themes_path %>
