<p>Congratulations your account has been approved. Please login to use your account.</p>
<a href="<%= root_url %>" class="btn btn-success">Login to your account</a>

<br><br>
<p>Félicitations, votre compte a été approuvé, veuillez vous connecter pour utiliser votre compte.</p>
<a href="<%= root_url %>" class="btn btn-success">Connectez-vous à votre compte
</a>
