<div class="no-result-box-content" style="height: 100vh;">
  <div class="no-result-box text-center">
    <%= image_tag 'no-img-reports.png', class: "mb-10"  %>
    <h2 class="no-result-text-theme mb-30"><%=t 'reports.no_customized_personas_yet'%></h2>

    <p class="no-result-text-muted"><%=t 'reports.select_one_or_more_respondents_to_create'%></p>
    <%= link_to "#{t 'reports.learn_more'}", 'javascript:;' %>
  </div>
</div>
