.awesome-heading {
  font-size: 2.5rem;
}

.awesome-content {
  //height: 84px;
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 28px;
  text-align: center;
}

.f-color{
  color:#009688;

}
.f-open-sans{
  font-family: 'Open Sans', sans-serif;
}
.fw-600{
  font-weight: 600 !important;
}
.color-default{
  color: #213146;
}
.fs-18{
  font-size: 18px !important;
}
.theme-btn{
  padding: 3px 50px;
  font-weight: 600;
}
.theme-btn-icon{
  padding-right: 42px;
}
.thumb-img img{
  width: 304px;
}
.back-btn a{
  opacity: 0.54;	color: #697D97;	font-family: "Open Sans";	font-size: 16px;	line-height: 24px;
}
.back-btn i.fa{
  color: #697D97;
  opacity: 0.4;
}

.success-heading {
  font-size: 2.5rem;
}

.success-heading-h4 {
  font-size: 1.5rem;
}

.va-base{
  vertical-align: baseline;
}

.view-results-btn {
  color: #3F536E !important;
}