<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>

<br>
<p>Bonjour <%= @resource.email %>!</p>

<p>Nous vous contactons pour vous informer que votre mot de passe a été modifié.</p>
